<div class="card">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" 
            id="txtnombre" placeholder="name@example.com" [(ngModel)]="formImc.nombre">
            <label for="txtnombre">Ingrese su nombre.</label>
        </div>
        <div class="form-floating mb-3">
            <input type="number" class="form-control" 
            id="txttalla" placeholder="name@example.com" [(ngModel)]="formImc.talla">
            <label for="txttalla">Ingrese su talla (cm).</label>
        </div>
        <div class="form-floating mb-3">
            <input type="number" class="form-control" 
            id="txtpeso" placeholder="name@example.com" [(ngModel)]="formImc.peso">
            <label for="txtpeso">Ingrese su peso (Kg).</label>
        </div>
        <button type="button" (click)="calcularImc()" class="btn btn-primary">CALCULAR</button>
        @if (mostrarResultado) {
            <div class="alert alert-primary" role="alert">
                {{resultadoFinal}}
            </div>
        }
        <hr />
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Paciente</th>
                <th scope="col">Valor IMC</th>
                <th scope="col">Diagnóstico</th>
              </tr>
            </thead>
            <tbody>
                @for (item of pacienteList; track $index) {
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.nombre}}</td>
                        <td>{{item.valor}}</td>
                        <td>{{item.diagnostico}}</td>
                      </tr>   
                }           
            </tbody>
          </table>
    </div>
  </div>