<div class="card">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
        <div class="form-floating mb-3">
            <input type="number" class="form-control" 
            id="txtnombre" placeholder="name@example.com">
            <label for="txtnombre">Ingrese su nombre.</label>
        </div>
        <div class="form-floating mb-3">
            <input type="number" class="form-control" 
            id="txttalla" placeholder="name@example.com">
            <label for="txttalla">Ingrese su talla (cm).</label>
        </div>
        <div class="form-floating mb-3">
            <input type="number" class="form-control" 
            id="txtpeso" placeholder="name@example.com">
            <label for="txtpeso">Ingrese su peso (Kg).</label>
        </div>
        <button type="button" class="btn btn-primary">CALCULAR</button>
        <div class="alert alert-primary" role="alert">
            A simple primary alert—check it out!
        </div>
        <hr />
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td> </td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td> </td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td> </td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>